<% provide :title, 'All Snippets' %>

<div class="snippet-list content">
  <div class="content-box">
    <ol>
      <% @snippets.each do |snippet| %>
      <li class="snippet">
        <div class="snippet-info">
          <%= link_to "#{snippet.name}", snippet, class: 'snippet-name', title: 'Show this snippet' %>
          <span class="snippet-author">&raquo; Created by
            <strong><% if snippet.user %><%= snippet.user.name %><% else %>Guest<% end %></strong>
          </span>
          <span class="snippet-type label pull-right"><%= @typenames[snippet.filetype] %></span>
        </div>
        <div class="snippet-desc">
          <strong>Description</strong>: <%= snippet.desc %>
        </div>
      </li>
      <% end %>
    </ol>
  </div>
</div>

